
body{
    background-color: gainsboro;
}

/* Selector id */
#texto {
    background-color: aqua;
    color: red;
    text-align: center;
}

/* Clase css */
.centrar {
    text-align: center;
}

/* Aplicar estilo a cierto elemento de la clase */
p.centrar {
    color: yellow;
}

/* Aplicar estilo a mas de un elemento a la vez*/
h5, h6 {
    color: brown;
    text-align: center;

}


.borde-delineado{
    border: 5px dashed green;
}

.borde-solido{
    border: solid 7px saddlebrown;
    border-radius: 10px;
}

.borde-doble{
    border: double 5px blue;
}

.borde-puntos{
    border: dotted 5px rgb(37, 214, 170);
    border-width: medium;
}

.borde-sombreado{
    border: outset 5px black;
    border-width: 10px 3px 2px 5px;
    margin-left: 10px;
}

.box-model {
    background-color: yellow;
    padding: 25px;
    border: 10px solid coral;
    margin: 35px;
}


/* google font */
.fuentes {
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
}

.icono-html {
    
}